<div class="padding-top-medium">
    <div class="row flex" style="justify-content: center;">

        <div class="col-md-3 clickable padding-bottom-medium">
            <a href="@Url.Action("ManageServiceUsers", "Admin")">
                <div class="box">
                    <img src="~/Images/ban.png" alt="Manage Service Users" />
                    <h3>Manage Service Users</h3>
                </div>
            </a>
        </div>

        <div class="col-md-3 clickable padding-bottom-medium">
            <a href="@Url.Action("ManageUsers", "Admin")">
                <div class="box">
                    <img src="~/Images/user.png" alt="Manage Users" />
                    <h3>Manage Users</h3>
                </div>
            </a>
        </div>


        <div class="col-md-3 clickable padding-bottom-medium">
            <a href="@Url.Action("ManageImages", "Admin")">
                <div class="box">
                    <img src="~/Images/image.png" alt="Manage Images" />
                    <h3>Manage Images</h3>
                </div>
            </a>
        </div>
    </div>
</div>
