@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Questions? Contact us!</h3>
<hr />
<h4>Telephone Extension: 300</h4>
<h5>Hours</h5>
<h5>Monday-Friday 10 AM - 2 PM</h5>
@Html.Partial("_LoginPartial")
